:root {
  --color-primary: #e21;
  --color-primary-dark: #900;
  --background-1: #f7f7f7;
  --background-2: #ffffff;
  --text: #000000;
  --subtitle: rgba(0, 0, 0, 0.2);
  --wave: url("./img/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #111111;
    --background-2: #000000;
    --text: #ffffff;
    --subtitle: rgba(255, 255, 255, 0.2);
    --wave: url("./img/onda-escura.svg");
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 530;
  margin: 0px;
  background-color: var(--background-1);
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
  color: var(--text);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  display: block;
  background-color: var(--background-2);
  padding: 0.9375rem 1.875rem;
  color: var(--text);
  text-transform: uppercase;
  border: 2px solid var(--background-2);
  border-radius: 4px;
}

.menu a:hover {
  border-color: var(--color-primary);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.intro {
  position: relative;
  background-color: var(--background-2);
  padding: 2.5rem;
  text-align: right;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.intro h1 {
  font-size: 2rem;
}
.intro::before {
  content: "";
  width: 3.75rem;
  height: 4px;
  background: var(--color-primary);
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.intro-cover img {
  object-fit: cover;
  height: 100%;
}

.button {
  background: var(--color-primary);
  color: #ffffff;
  padding: 0.9375rem 1.875rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.button:hover {
  background: var(--color-primary-dark);
}

.subtitle {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitle);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: var(--wave);
}

.advantages {
  background: var(--background-2);
  padding: 2.5rem;
}

.advantages-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent;
}

.advantages-item:nth-child(odd) {
  background: var(--background-1);
}

.advantages-item p {
  grid-column: 2;
}

.advantages-item:hover {
  border-color: var(--color-primary);
}

.footer {
  background: var(--background-2);
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .content-advantages {
    grid-template-columns: 1fr;
  }
  .subtitle {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .intro {
    text-align: left;
  }
  .intro::before {
    display: none;
    justify-items: start;
  }
  .subtitle {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .subtitle {
    font-size: 2rem;
  }
}
